@import 'variables';

/* mini-reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	font-family: sans-serif;
	font-size: 16px;
	color: #000000;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.l-page {
	width: 795px;
	min-height: 1400px;
	margin: 0 auto;
	padding: 0 15px;
	vertical-align: top;
}

.c-header {
	padding: 25px 0;
}
.c-menu {
	background-color: rgb(215, 215, 215);
	&__item {
		display: inline-block;
		padding: 0 15px;
		font-size: 22px;
		line-height: 1.7;
		&.is-active {
			background-color: rgb(51, 51, 51);
		}
		&.is-active a{
			color: #ffffff;
		}
	}
	&__link{
		color: @color-text;
	}
}

.c-hero {
	vertical-align: top;
	&__img {
		display: table-cell;
		width: 480px;
		height: 185px;
		background: url(../images/ms_1.jpg) top center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
	}
	&__title {
		padding: 10px 0 27px;
		font-size: 36px;
		font-family: serif;
		font-weight: 500;
		color: @color-red;
	}
}
.l-text {
	display: table-cell;
	padding-left: 25px;
}

.l-main{
	display: table-cell;
	padding-top: 27px;
	vertical-align: top;
}
.c-news{
	margin-bottom: 45px;
	&__title {
		padding-bottom: 10px;
		font-size: 28px;
		font-weight: 400;
	}
	&__title a {
		color: @color-blue;
		&:hover {
			color: @color-red;
		}
	}
	&__item {
		position: relative;
		padding-left: 12px;
		&::before {
			content: '';
			position: absolute;
			top: 11px;
			left: 0;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: @color-text;
		}
	}
	&__link {
		line-height: 1.8;
		color: @color-text;
		&:hover {
			color: @color-blue-light;
			text-decoration: underline;
		}
		&--source {
			color: @color-gray;
			&:hover {
				color: @color-blue-light;
				text-decoration: none;
			}
		}
	}
	&-top {
		height: 75px;
		&__img {
			display: inline-block;
			width: 117px;
			margin-right: 10px;
			float: left;
		}
		&__text {
			display: inline-block;
			padding: 8px 0;
			font-weight: 600;
			line-height: 1.7;
			float: left;
		}
	}
}

.l-foto-report {
	display: table-cell;
	padding-top: 27px;
	padding-left: 25px;
}

.c-foto-report {
	position: relative;
	margin-bottom: 25px;
	&::before {
		content: '';
		position: absolute;
		left: 8px;
		bottom: 55px;
		width: 30px;
		height: 25px;
		background: url(../images/fa_foto.png) center no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
	}
	&__img {
		width: 260px;
	}
}